<h1>Sources</h1>

<ul class="mainlist two_columns">
<% @sources.each do |source| %>
  <li><%= link_to source.name, source %> <span class="target_counts">(<%= number_with_delimiter(pluralize(source.source_targets_count, "target"))%>)</span></li>
<% end %>
</ul>
