<h1>Species</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Targets</th>
    <th>Antibodies</th>
  </tr>

<% @species.each do |species| %>
  <tr>
    <td><%= link_to species.long_name, species %></td>
    <td class="number"><%= species.targets_count %></td>
    <td class="number"><%= species.antibodies_count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Species', new_species_path %>
