<h1>Species</h1>

<ul class="mainlist">
<% @species.each do |species| %>
  <li><%= link_to species.long_name.titleize, species %> <span class="target_counts">(<%= pluralize(species.targets_count, "target") %>)</span></li>
<% end %>
</ul>

<%= link_to 'New Species', new_species_path %>