body {
  margin: 1em auto;
  width: 860px;
}

#main {
  min-height: 30em;
}
#logo {
}
.left {
  padding-right: 1em;
}
.right {
  padding-left: 1em;
}
p {
  font-size: 123.1%;
  line-height: 165%;
}
a, a:visited {
  color: #b50;
}

a:hover {
  color: #e82;
}
.banner {
  background-color: #fec;
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 123.1%;
}
.banner a {
  padding: 1em;
  display: block;
  background-color: #fec;
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
}
.banner a:hover {
  background-color: #fd7;
  color: #720;
}
th {
  color: #b50;
  background-color: #ddd;
}
th a {
  text-decoration: none;
}
h1 {
  font-size: 300%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 125%;
  color: #421;
}
h2 {
  font-size: 197%;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  color: #421;
}

#navigation {
  background: #e82; /* old browsers */
  background: -moz-linear-gradient(top, #EDD0B4 0%, #EE8822 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDD0B4), color-stop(100%,#EE8822)); /* webkit */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDD0B4', endColorstr='#EE8822',GradientType=0 ); /* ie */
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 131%;
}
#navigation ul {  
  margin: 0;
  padding: 0 1em;
}
#navigation li {
  list-style: none;
  display: inline-block;
  padding: 0.4em 1em;
  color: #421;
  font-weight: bold;
}
#navigation li a {
  display: block;
  text-decoration: none;
  color: #841;
}
#navigation li a:hover {
  color: #c51;
}
#usermenu {
  float: right;
}
#footer {
  margin-top: 1em;
  border-top: 4px solid #222;
}

.dashboard {
  display: inline-block;
  margin: 0 0 1em 0;
}
.dashboard ul {
  margin: 0;
  padding: 0;
}
.dashboard li {
  margin: 1em 1em 1em 0;
  padding: 0.5em 1em;
  list-style: none;
  display: inline-block;
  background-color: #ddd;
  text-align: center;
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.dashboard .value {
  font-size: 150%;
  display: block;
  margin-bottom: 0.25em;
}
.dashboard a {
  display: block;
}
.dashboard a:visited {
}
.dashboard .item {
  color: #666;
}
.number {
  text-align: right;
}
/* pagination start */
.pagination {
  margin: 1em 0;
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination em {
    font-weight: bold;
    color: white;
    background-color: #555;
    border: 1px solid #243356; }
  .pagination a {
    text-decoration: none;
    color: #000;
    border: 1px solid #a3a3a3; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #333;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
.pagination_info {
  margin-bottom: 1em;
  color: #777;
}
/* pagination end */

th .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
th .asc {   
  background-image: url(/images/up_arrow.png);   
}  
  
th .desc {   
  background-image: url(/images/down_arrow.png);   
}