body {
  margin: 1em auto;
  width: 820px;
}

#main {
  min-height: 22em;
}
#header.home {
  text-align: center;
}
#header h1 {
  font-size: 350%;
  display: inline-block;
  margin: 0.2em 0;
  font-family: 'Yanone Kaffeesatz', serif;
  font-weight: 700;
}
#header a {
  color: #421;
}
#header a:hover {
  color: #e82;
  text-decoration: none;
}
#header.home h1 {
  font-size: 585%;
}
.left {
  padding-right: 1em;
}
.right {
  padding-left: 1em;
}
p {
  font-size: 123.1%;
  line-height: 165%;
}
a, a:visited {
  color: #b50;
  text-decoration: none;
}

a:hover {
  color: #e82;
  text-decoration: underline;
}

.helpmark {
  font-size: 80%;
  color: #fec;
  background-color: #b50;
  padding: 0.1em 0.35em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-left: 0.25em;
}
.helptext {
  display: none;
  padding: 0.5em;
  position: absolute;
  background-color: #fff;
  border: 1px solid #fec;
  opacity: 0.9;
  width: 16em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-weight: normal;
  text-align: left;
  font-size: 80%;
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
}
.example {
  color: #eda;
}
#search {
  display: block;
  float: right;
  margin-top: 1.7em;
  font-size: 108%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#search input {
  margin: 0;
  padding: 0.25em;
  border: 2px solid #e82;
  font-size: 123.1%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 18.5em;
}
#search input[type="submit"] {
  width: 3.8em;
  background-color: #e82;
  color: #fff;
}

#searchhome {
  float: none;
  text-align: center;
  margin: 10em 0;
  font-size: 108%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#searchhome input {
  margin: 0;
  padding: 0.25em;
  border: 2px solid #e82;
  font-size: 197%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 18em;
}
#searchhome input[type="submit"] {
  width: 3.8em;
  background-color: #e82;
  color: #fff;
}
#searchhome form {
  margin: 0.5em 0;
}
/* autocomplete start */
.ui-autocomplete {
  background-color: #fec;
  opacity: 0.9;
  width: 10em;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
}
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	list-style:none;
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	background-color: #fd9;
	-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}
/* autocomplete end */

.banner {
  background-color: #fec;
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 108%;
}
.banner a {
  padding: 0.5em;
  display: block;
  background-color: #fec;
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
}
.banner a:hover {
  background-color: #fd7;
  color: #720;
}
th {
  font-size: 123.1%;
  color: #b50;
  background-color: #fec;
  border: 1px solid #ddd;
  white-space: nowrap;
}
th.wrap {
  white-space: normal;
}
th a {
  text-decoration: none;
}
td {
  border: 1px solid #ddd;
  font-size: 123.1%;
  text-align: center;
}
h1 {
  font-size: 250%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 125%;
  color: #421;
}
h2 {
  font-size: 197%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  color: #421;
}

.mainlist {
  margin-top: 0;
  font-size: 182%;
}
.mainlist li {
  margin-bottom: 0.6em;
  line-height: 100%;
}
.mainlist.two_columns li {
  width: 15.5em;
  float: left;
}
.mainlist .target_counts {
  font-size: 70%;
  color: #666;
  white-space: nowrap;
}
.mainlist:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navigation {
  background: #e82; /* old browsers */
  background: -moz-linear-gradient(top, #EDD0B4 0%, #EE8822 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDD0B4), color-stop(100%,#EE8822)); /* webkit */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDD0B4', endColorstr='#EE8822',GradientType=0 ); /* ie */
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 131%;
  text-align: left;
}
#navigation ul {  
  margin: 0;
  padding: 0 1em;
}
#navigation li {
  list-style: none;
  display: inline-block;
  padding: 0.4em 0.9em;
  color: #421;
  font-weight: bold;
}
#navigation li a {
  display: block;
  text-decoration: none;
  color: #841;
}
#navigation li a:hover {
  color: #c51;
}
#navigation li a.current {
  display: block;
  text-decoration: none;
  color: #421;
}
#usermenu {
  float: right;
}
#footer {
  margin-top: 4em;
  padding: 0.25em 1em;
  background: #e82; /* old browsers */
  background: -moz-linear-gradient(top, #EDD0B4 0%, #EE8822 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDD0B4), color-stop(100%,#EE8822)); /* webkit */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDD0B4', endColorstr='#EE8822',GradientType=0 ); /* ie */
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #421;
  font-size: 100%;
  text-align: right;
}
#navigation li.about {
  float: right;
}
.dashboard {
  display: inline-block;
  margin: 0;
}
.dashboard ul {
  margin: 0;
  padding: 0;
}
.dashboard li {
  margin: 0 0.2em 0 0;
  padding: 1em 0.5em;
  list-style: none;
  display: inline-block;
  background-color: #fec;
  text-align: center;
  -webkit-box-shadow: #333 2px 2px 4px ;
  -moz-box-shadow: #333 2px 2px 4px ;
  box-shadow: #333 2px 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.dashboard .value {
  font-size: 123.1%;
  display: block;
  margin-bottom: 0.25em;
}
.dashboard a {
  color: #333;
  display: block;
}
.dashboard a:visited {
  color: #333;
}
.dashboard a:hover {
  color: #666;
}
.dashboard .item {
  color: #666;
}
.number {
  text-align: right;
}

.info {
  font-size: 123.1%;
  line-height: 165%;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #421;
  background-color: #fec;
}
/* pagination start */
.pagination {
  margin: 1em 0;
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: .2em .7em;
    display: block;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination em {
    font-weight: bold;
    color: #421;
    background-color: #fec;
    font-style: normal;;
    border: 1px solid #999; }
  .pagination a {
    text-decoration: none;
    color: #000;
    border: 1px solid #a3a3a3; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #333;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
.pagination_info {
  margin-bottom: 1em;
  color: #777;
}
/* pagination end */

th .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
th .asc {   
  background-image: url(/images/up_arrow.png);   
}  
  
th .desc {   
  background-image: url(/images/down_arrow.png);   
}

ul.alphabetical {
  font-size: 123.1%;
  line-height: 165%;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #421;
  background-color: #fec;
  text-align: center;
}
.alphabetical li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1.6em;
  display: inline-block;
}
.alphabetical a {
  display: block;
}

.validation_c, .validation_d, .validation_w, .validation_blank {
  font-size: 80%;
  display: inline-block;
  width: 2.4em;
  padding: 0.25em 0;
  margin: 0 0.25em;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.validation_w, .category_w {
  background-color: #fcd;
}
.validation_d, .category_d {
  background-color: #dfc;
}
.validation_c, .category_c {
  background-color: #cdf;
}
.validation_blank {
  background-color: #fff;
  color: #fff;
}
.validation_categories {
  white-space: nowrap;
}
.validation_categories a, .validation_categories a:visited {
  color: #000;
}
table.antibodies, table.validations {
  width: 100%;
}
.category_w, .category_d, .category_c {
  white-space: nowrap;
}
.Passed {
  color: #090;
}
.Failed {
  color: #900;
}
.validation_results_graph {
  margin: -11px 5px -12px -5px;
  float: right;
}

.selected {
  background-color: #fec;
}
#error_explanation {
  color: #c00;
  background-color: #fec;
  padding: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#error_explanation h2 {
  color: #c00;
  font-size: 100%;
  margin-top: 0;
}
.field_with_errors {
  padding: 0.5em 0;
  background-color: #faa;
  display: inline;
}
table.targets {
  width: 100%;
}
/* upload forms start */
form.upload {
  margin: 1em 0 0.5em 0;
}
.upload select {
  font-size: 150%;
}
.upload input {
  margin: 0;
  padding: 0.25em;
  border: 2px solid #e82;
  font-size: 150%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 15em;
}
.upload input[type="submit"] {
  width: 4.8em;
  background-color: #e82;
  color: #fff;
}
.upload input.right {
  float: right;
}
.upload input[type="radio"] {
  width:1em;
  background-color: #e82;
  color: #fff;
}
.upload input[type="file"] {
  width:30em;
  border: 0;
}
.upload input.long {
  width: 32.2em;
}
ul.upload {
  margin-bottom: 2em;
  padding: 0;
}
ul.upload li {
  font-size: 150%;
  margin: 0 0 0.5em 0;
  list-style: disc;
  width:20em;
  float: left;
}
ul.upload:after, .upload input.right:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.upload label {
  font-size: 150%;
  width: 8.2em;
  display: inline-block;
  text-align: right;
  margin: 0.5em 0.8em 0.5em 0;
  color: #421;
}
.upload label.radio {
  font-size: 150%;
  display: inline-block;
  width: 7em;
  color: #000;
  text-align: left;
}

.upload select {
  font-size: 150%;
}
.examples {
  text-align: right;
  margin-bottom: 1em;
  display: none;
}
.upload span {
  font-size: 150%;
}
/* upload forms end */