<% if @targets.present? %>
<h3>Select Target:</h3>
<ul>
  <% for target in @targets %>
    <li><%= link_to target.name_with_species, upload_url(:target_id => target.id)%></li>
  <% end %>
</ul>
<% end %>