<h1>Welcome to modENCODE Antibodies</h1>
<div class="dashboard">
  <ul>
    <li>
      <span class="value"><%= link_to number_with_delimiter(Antibody.count), antibodies_path %></span>
      <span class="item">antibodies</span>
    </li>
    <li>
      <span class="value"><%= link_to number_with_delimiter(Antibody.count("DISTINCT target_id")), targets_path %></span>
      <span class="item">targets</span>
    </li>
    <li>
      <span class="value"><%= link_to number_with_delimiter(Antibody.count("DISTINCT vendor_id")), vendors_path %></span>
      <span class="item">vendors</span>
    </li>
    <li>
      <span class="value"><%= number_with_delimiter(Antibody.count("DISTINCT created_by")) %></span>
      <span class="item">validators</span>
    </li>
  </ul>
</div>

<h2>Lorem ipsum dolor sit amet</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis dolor ut ipsum consectetur molestie. Praesent laoreet adipiscing rhoncus. Morbi tempus, turpis sed aliquam mollis, quam leo consequat turpis, vitae facilisis odio est a orci. Nulla facilisi. Nullam commodo volutpat turpis, in lacinia lorem pellentesque sed. Etiam tempor, odio id aliquam laoreet, felis mauris ullamcorper augue, nec dapibus mauris nibh placerat erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse placerat tellus id nulla ultrices venenatis. Quisque nisl diam, tincidunt sed scelerisque vitae, malesuada lobortis neque. Nulla et sapien dui. Curabitur nec dolor lectus. Phasellus sit amet laoreet leo.

<h2>Nunc sodales</h2>
<p>Nunc sodales, libero id fermentum cursus, sem risus adipiscing elit, at cursus turpis sem non nisi. Aliquam ac arcu a diam lobortis gravida. Aliquam id ligula id leo elementum imperdiet. Suspendisse facilisis, leo porta suscipit interdum, augue dui laoreet metus, ac placerat turpis nibh a lorem. Praesent vitae feugiat est. Duis blandit volutpat elit, ut sodales purus volutpat ac. Ut a eros ac nunc aliquet sodales. Aliquam nec ligula erat. Praesent sed sapien est. Vivamus sit amet sollicitudin est.</p>