<h1>Projects</h1>

<div class="info">Data sets from a project or publication can be grouped into a single "project".  Please email <%= link_to "avd@gmail.com", "mailto:avd@gmail.com" %> to submit a bulk data set.</div>

<% @projects.each do |project| %>
    <h2><%= link_to project.name, project %></h2>
    <p><%= project.description %></p>
<% end %>