<h1><%= @project.name %></h1>

<h2>Description</h2>
<p>
  <%= @project.description %>
</p>

<h2>Antibodies</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Validations</th>
  </tr>
<% @project.antibodies.each do |antibody| %>
  <tr>
    <td><%= link_to antibody.name, antibody %></td>
    <td></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_project_path(@project) %> |
