<h1>Validators</h1>

<ul class="mainlist">
<% @validators.each do |validator| %>
    <li><%= link_to validator.name, validator %> <span class="target_counts">(<%= pluralize(validator.validator_targets_count, "target") %>)</span></li>
<% end %>
</ul>
